/*----------------------------------------------------------------
  Contact forms
----------------------------------------------------------------*/

.contact-section input,
.contact-section textarea,
.comment-form input,
.comment-form textarea {
  background-color: rgba(255,255,255,0.15);
  font-size: 0.889em !important;
}

.text-light input,
.text-light textarea {
  color: #fff;
}

.text-light input:not([type="button"]):hover,
.text-light textarea:not([type="button"]):hover {
  border-color: rgba(255,255,255,0.5) !important;
}

.text-light textarea:not([type="button"]):focus,
.text-light textarea:not([type="button"]):active,
.text-light input:not([type="button"]):focus,
.text-light input:not([type="button"]):active {
  border-color: #fff !important;
}

.text-light .contact-section i {
  color: rgba(255,255,255,0.7);
}

.text-light ::-webkit-input-placeholder {
  color: rgba(255,255,255,0.7);
}

.text-light :-moz-placeholder {
 /* Firefox 18- */
 color: rgba(255,255,255,0.7);
}

.text-light ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255,255,255,0.7);
}

.text-light :-ms-input-placeholder {
  color: rgba(255,255,255,0.7);
}

.contact-section input.name,
.contact-section input.email,
.comment-form input.name,
.comment-form input.email {
  padding-left: 3em;
}

.contact-section input.name,
.contact-section input.email,
.contact-section textarea,
.comment-form input.name,
.comment-form input.email,
.comment-form textarea {
  max-width: 100%;
  width: 100%;
}

.contact-section input[type="submit"],
.comment-form input[type="submit"] {
  float: right;
}