/*----------------------------------------------------------------
  CTA
----------------------------------------------------------------*/

.call-to-action .row-content.buffer {
  padding-top: 4%;
  padding-bottom: 4%;
}

.call-to-action {
  text-align: center;
}

.call-to-action p {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
}

.call-to-action .button {
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 0;
}