::selection {
  background: #FD685B;
  color: #fff;
}

::-moz-selection {
  background: #FD685B;
  color: #fff;
}

::-webkit-input-placeholder {
  color: #b3b3b3;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #b3b3b3;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #b3b3b3;
}

:-ms-input-placeholder {
  color: #b3b3b3;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  /* font-size: 16px; */;
}

body {
  background-color: #fbfbfb;
  color: #333;
  font-size: 1.125em; /* font-size: 18px; */
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.34;
  text-rendering: auto; /* Android browser */
}

a {
  color: #222;
  text-decoration: underline;
}

.csstransitions a {
  -webkit-transition: background-color 0.1s linear, color 0.1s linear;
  -moz-transition: background-color 0.1s linear, color 0.1s linear;
  transition: background-color 0.1s linear, color 0.1s linear;    
}

input[type=""],
input:not([type]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
textarea,
textarea.plain {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
  border: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0.333em;
  -moz-border-radius: 0.333em;
  border-radius: 0.333em;
  color: #333;
}

textarea:focus,
input:focus {
  outline: 0;
}

textarea:not([type="button"]):hover,
input:not([type="button"]):hover {
  border-color: #cad1d9 !important;
}

textarea:not([type="button"]):focus,
textarea:not([type="button"]):active,
input:not([type="button"]):focus,
input:not([type="button"]):active {
  border-color: #88d3ff !important;
}

img {
  display: block;
}

.centertxt {
  text-align: center;
}

#main {
  position: relative;
  z-index: 10;
  overflow: hidden;
  background-color: #fbfbfb;
}

section {
  overflow-x: hidden;
}

.last-special {
  margin-right: 0% !important;
}