/*----------------------------------------------------------------
  Icons
----------------------------------------------------------------*/

.red,
i.icon.red,
i.fa.red {
  color: #fd685c;
}

.orange,
i.icon.orange,
i.fa.orange {
  color: #fa6f57;
}

.yellow,
i.icon.yellow,
i.fa.yellow {
  color: #fecd5e;
}

.green,
i.icon.green,
i.fa.green {
  color: #a1d26e;
}

.mint,
i.icon.mint,
i.fa.mint {
  color: #4fcead;
}

.aqua,
i.icon.aqua,
i.fa.aqua {
  color: #55c1e7;
}

.blue,
i.icon.blue,
i.fa.blue {
  color: #609eea;
}

.purple,
i.icon.purple,
i.fa.purple {
  color: #ab94e9;
}

.pink,
i.icon.pink,
i.fa.pink {
  color: #ea89bf;
}

.white,
i.icon.white,
i.fa.white {
  color: #fff;
}

.grey,
i.icon.grey,
i.fa.grey {
  color: #aab2bc;
}

.dark-grey,
i.icon.dark-grey,
i.fa.dark-grey {
  color: #545766;
}

.text-light i.icon,
.text-light i.fa {
  color: #fff !important;
}