/*----------------------------------------------------------------
  Milestone
----------------------------------------------------------------*/

.count-item {
  text-align: center;
}

.count-item .small-icon {
  float: none;
  margin: 0 auto 0.333em auto;
}

.count-subject {
  margin-top: 0;
  color: #999;
  opacity: 0;
}